.tooltip-container {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  margin-left: 6px;
}

.tooltip-text {
  visibility: hidden;
  width: 250px;
  background: #333;
  color: #fff;
  text-align: left;
  padding: 10px 12px;
  border-radius: 8px;
  position: absolute;
  z-index: 10;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  line-height: 1.4;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
